@font-face {
    font-family: Daydream;
    src: url(fonts/Daydream.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand_Bold.otf);
}
.quick {
    font-family: "Quicksand", sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff6f6;
}
header {
    font-family: "Daydream", sans-serif;
    font-size: 20px;
}
h1 {
    color: #97a3ff;
}
h2 {
    color: #EDAFB8;
}
h3 {
    color: #F2C8C8;
}
header {
    background-color: #E8E8E4;
    padding: 69px;
    background-image: url(images/header.png);
    border-bottom: 2px solid #f1d0e0;
}
b {
    color: #542d56;
}

nav {
    background-color: #f8d5e6;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
nav a:hover {
    background-color:#f3f7ff;
    padding: 8px 16px;
}
nav a {
    color: #fab6ff;
    text-decoration: none;
    margin: 0 10px;
    background-color: #fff5f0;
    padding: 8px 16px;
    border-radius: 30px;
}
section {
    /*max-width: 950px;*/
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(50, 0, 255, 0.1);
    border-radius: 50px;
}
ul {
    list-style-type: disc;
}
li {
    margin-bottom: 10px;
}
.flex {
    /*width: 500px;*/
    padding: 20px;
    margin: 20px;
    vertical-align: top;
    text-align: left;
    box-shadow: 0 0 10px rgba(50, 0, 255, 0.1);
    border-radius: 50px;
    background-color: rgb(254, 255, 247);
    padding: 30px;

}
.corner {
    position: fixed;
    top: 5px;
    left: 15px;
    width: 40px;
    height: 40px;
}
.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}